mixin pagination(Pagination)
  nav(class="mt-4")
    ul(class="pagination")
      if(Pagination.currentPage > 1)
        li(class="page-item")
          button(
            class="page-link"
            button-panigation = Pagination.currentPage - 1
          ) Trang trước

      - for(var i = 1 ; i <= Pagination.TotalPage ; i++)
        li(class=`page-item ${Pagination.currentPage == i ? "active" : ""} `)
          button(
            class="page-link"
            button-panigation = i
          ) #{i}  

      if(Pagination.currentPage < Pagination.TotalPage)
        li(class="page-item")
          button(
            class="page-link"
            button-panigation = Pagination.currentPage + 1
          ) Kế tiếp 